@font-face {
  font-family: "Exo-Thin";
  font-display: swap;
  src: url("../fonts/Exo-Thin.woff") format("woff"), url("../fonts/Exo-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TrebuchetMS";
  font-display: swap;
  src: url("../fonts/TrebuchetMS.woff") format("woff"), url("../fonts/TrebuchetMS.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  color: white;
  font-family: Exo-Thin;
  background-image: url(../img/Pattern.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
}

.wrapper {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 36px;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section:nth-child(2) {
  margin: 0 5% 0 5%;
}

.cats_food {
  position: relative;
  -webkit-clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
          clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
  background-color: white;
  background-image: url(../img/cat.png);
  background-position: -50px 230px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 320px;
  height: 480px;
  color: black;
  border: 4px solid #1698d9;
  border-radius: 0 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}

.cats_food::before {
  content: '';
  width: 4px;
  height: 60px;
  background-color: #1698d9;
  position: absolute;
  top: -10px;
  left: 18px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.default_cats_food:hover {
  cursor: pointer;
  border-color: #2ea8e6;
}

.default_cats_food:hover .circle {
  background-color: #2ea8e6;
}

.default_cats_food:hover::before {
  background-color: #2ea8e6;
}

.header_food {
  font-family: Exo-Thin;
  color: #666666;
  font-size: 16px;
  font-weight: bold;
}

.name_food {
  font-family: TrebuchetMS;
  color: black;
  font-size: 48px;
  font-weight: bold;
}

.taste_food {
  font-family: TrebuchetMS;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.descriptions {
  color: #666666;
}

.descriptions > ul {
  list-style: none;
  padding: 0;
}

.foto_cat {
  height: 50%;
  position: absolute;
  left: -50px;
  bottom: -95px;
}

.circle {
  font-family: TrebuchetMS;
  color: white;
  font-size: 24px;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #1698d9;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 15px;
  font-weight: 500;
}

.circle > p.numeral {
  font-size: 42px;
  font-weight: bold;
  margin: 10px 0 0 0;
}

.title_footer {
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.title_footer > a {
  color: #1698d9;
  text-decoration: none;
  border-bottom: 1px dashed #1698d9;
}

.selected_food {
  cursor: pointer;
  border-color: #d91667;
}

.selected_food .circle {
  background-color: #d91667;
}

.selected_food:hover {
  border-color: #e62e7a;
}

.selected_food:hover .circle {
  background-color: #e62e7a;
}

.selected_food:hover ::before {
  background-color: #e62e7a;
}

.selected_food::before {
  content: '';
  width: 4px;
  height: 60px;
  background-color: #d91667;
  position: absolute;
  top: -10px;
  left: 18px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.selected_food:hover::before {
  background-color: #e62e7a;
}

.ended_food {
  border-color: #b3b3b3;
}

.ended_food .circle {
  background-color: #b3b3b3;
}

.ended_food::before {
  content: '';
  width: 4px;
  height: 60px;
  background-color: #b3b3b3;
  position: absolute;
  top: -10px;
  left: 18px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ended_food:hover {
  cursor: default;
  border-color: #b3b3b3;
}

.ended_food:hover .circle {
  background-color: #b3b3b3;
}

.ended_food:hover::before {
  border-color: #b3b3b3;
}

#display_foie_gras_off {
  display: none;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
          clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
}

#display_fish_off {
  display: none;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
          clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
}

#display_chicken_off {
  display: none;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
          clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
}

.text_ended {
  font-size: 13px;
  color: #aaaa41;
}

@media screen and (max-width: 1366px) {
  section:first-child {
    width: 100%;
  }

  section:nth-child(2) {
    margin: 0 5% 0 0;
  }

  .cats_food {
    width: 300px;
  }
}

@media screen and (max-width: 675px) {
  section:nth-child(2) {
    margin: 0;
  }

  section {
    width: 100%;
  }
}

.webp body { background-image: url(../img/Pattern.webp); }

.webp .cats_food { background-image: url(../img/cat.webp); }
