@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "fonts";

body {
	color: white;
	font-family: Exo-Thin;
	background-image: url(../img/Pattern.png);
	display: flex;
	justify-content: center;
	align-items: center;
}
.main {
	//position: absolute;
    //top: 0;
    //left: 0;
    width: 100%;
    height: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.8) 100%);
}
.wrapper {
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
h1 {
	width: 100%;
	text-align: center;
	font-size: 36px;
}
.container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
section:nth-child(2) {
	margin: 0 5% 0 5%;
}

.cats_food {
	position: relative;
	clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
	background-color: white;
	background-image: url(../img/cat.png);
	background-position: -50px 230px;
	background-size: contain;
	background-repeat: no-repeat;
	width: 320px;
	height: 480px;
	color: black;
	border: 4px solid #1698d9;
	border-radius: 0 10px 10px 10px;
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: column;
	padding-top: 30px;
}
.cats_food::before {
	content: '';
	width: 4px;
	height: 60px;
	background-color: #1698d9;
	position: absolute;
	top: -10px;
	left: 18px;
	transform: rotate(45deg);
}

.default_cats_food:hover {
	cursor: pointer;
	border-color: #2ea8e6;
	.circle {
		background-color: #2ea8e6;
	}
}
.default_cats_food:hover::before {
	background-color: #2ea8e6;
}


.header_food {
	font-family: Exo-Thin;
	color: #666666;
	font-size: 16px;
	font-weight: bold;
}
.name_food {
	font-family: TrebuchetMS;
	color: black;
	font-size: 48px;
	font-weight: bold;
}
.taste_food {
	font-family: TrebuchetMS;
	color: black;
	font-size: 24px;
	font-weight: bold;
}
.descriptions {
	color: #666666;
	>ul {
		list-style: none;
		padding: 0;
	}
}


.foto_cat {
	height: 50%;
	position: absolute;
	left: -50px;
	bottom: -95px;
}

// Килограммы
.circle {
	font-family: TrebuchetMS;
	color: white;
	font-size: 24px;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #1698d9;
	position: absolute;
	bottom: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 15px;
	font-weight: 500;
	>p.numeral {
		font-size: 42px;
		font-weight: bold;
		margin: 10px 0 0 0;
	}
}

// Описание под кормом
.title_footer {
	margin-top: 16px;
	margin-bottom: 32px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	
	>a {
		color: #1698d9;
		text-decoration: none;
		border-bottom: 1px dashed #1698d9;
	}
}

// Выбранный корм

.selected_food {
	cursor: pointer;
	border-color: #d91667;
	.circle {
		background-color: #d91667;
	}
}
.selected_food:hover {
	border-color: #e62e7a;
	.circle {
		background-color: #e62e7a;
	}
	::before {
		background-color: #e62e7a;
	}
}
.selected_food::before {
	content: '';
	width: 4px;
	height: 60px;
	background-color: #d91667;
	position: absolute;
	top: -10px;
	left: 18px;
	transform: rotate(45deg);
}
.selected_food:hover::before {
	background-color: #e62e7a;
}

// Корм кончился
.ended_food {
	border-color: #b3b3b3;
	.circle {
		background-color: #b3b3b3;
	}
}
.ended_food::before {
	content: '';
	width: 4px;
	height: 60px;
	background-color: #b3b3b3;
	position: absolute;
	top: -10px;
	left: 18px;
	transform: rotate(45deg);
}
.ended_food:hover {
	cursor: default;
	border-color: #b3b3b3;
	.circle {
		background-color: #b3b3b3;
	}
}
.ended_food:hover::before {
	border-color: #b3b3b3;
}


// Фон поверх корма
#display_foie_gras_off {
	display: none;
	position: absolute;
	top: 0;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;
	clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
}
#display_fish_off {
	display: none;
	position: absolute;
	top: 0;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;
	clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
}
#display_chicken_off {
	display: none;
	position: absolute;
	top: 0;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;
	clip-path: polygon(45px 0, 100% 0, 100% 100%, 0 100%, 0 45px);
}

// Корм закончился текст 
.text_ended {
	font-size: 13px;
	color: #aaaa41;
}

/////// Media

@media screen and (max-width: 1366px) {
	section:first-child {
		width: 100%;
	}
	section:nth-child(2) {
		margin: 0 5% 0 0;
	}
	.cats_food {
		width: 300px;
	}
}
@media screen and (max-width: 675px) {
	section:nth-child(2) {
		margin: 0;
	}
	section {
		width: 100%;
	}
}
